In [1]:
#answer 1
a = 1
while a < 6:
    print(a)
    a +=1

1
2
3
4
5

In [2]:
#Answer 2

sum = 0
a = 1
while a <=10:
    sum +=a
    a +=1
print(sum)

55

In [ ]:
#Answer 3
e = int(input("Enter the value:__"))

factorial = 1
if e >=1:
    for f in range(1,e+1):
        factorial = factorail * f
print("Factorial of the number:",factorial)

In [4]:
#Answer 4
string ="arvind ,verma"
vowels =  "aeiouAEIOU"

count = 0

for i in string:
    if i in vowels:
        count +=1

print("Number of vowels:",count)

Number of vowels: 4

In [6]:
#Answer 5

row = 1
while row <=5:
    col = 1
    while col <= row:
        print("*",end = " ")
        col +=1
    print()
    row +=1

*
* *
* * *
* * * *
* * * * *

In [11]:
#Answer 6

row = 5
col = 5
for row in range(1,row+1):
    for col in range(1,col+1):
        i = row * col
        print(f"{col}*{row} = {i}\t",end =" ")
    print()

1*1 = 1	 2*1 = 2	 3*1 = 3	 4*1 = 4	 5*1 = 5
1*2 = 2	 2*2 = 4	 3*2 = 6	 4*2 = 8	 5*2 = 10
1*3 = 3	 2*3 = 6	 3*3 = 9	 4*3 = 12	 5*3 = 15
1*4 = 4	 2*4 = 8	 3*4 = 12	 4*4 = 16	 5*4 = 20
1*5 = 5	 2*5 = 10	 3*5 = 15	 4*5 = 20	 5*5 = 25